# 🐍 Entorno virtual Python
env/
venv/
__pycache__/
*.pyc

# 📦 Archivos de dependencias temporales
*.log
*.sqlite3
.DS_Store

# ⚙️ Configuración local
.env
.idea/
.vscode/

# 🧪 Archivos de compilación
*.egg-info/
dist/
build/

# Python cache
__pycache__/
*.py[cod]
*$py.class
